[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 640873
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm ci || npm install && npm run dev"
