
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 5000
externalPort = 80

[nix.packages]
nodejs = "nodejs_20"

# Puppeteer dependencies
chromium = "latest"
glib = "latest"
nss = "latest"
fontconfig = "latest"
freetype = "latest"
xorg.libX11 = "latest"
xorg.libXcomposite = "latest"
xorg.libXdamage = "latest"
xorg.libXext = "latest"
xorg.libXfixes = "latest"
xorg.libXrandr = "latest"
xorg.libXrender = "latest"
xorg.libxcb = "latest"
xorg.libXScrnSaver = "latest"
gtk3 = "latest"
pango = "latest"
cairo = "latest"
gdk-pixbuf = "latest"
libdrm = "latest"
xorg.libxkbcommon = "latest"
xorg.libXi = "latest"
xorg.libXtst = "latest"
cups = "latest"
dbus = "latest"
at-spi2-atk = "latest"
at-spi2-core = "latest"
atk = "latest"
